* {
    margin: 0;
    padding: 0;
}

#GameHeading {
    text-align: center;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 38%;
    margin-right: 38%;
    border: 2px solid rgb(199, 0, 199);
    border-radius: 25px;
    font-family: Inconsolata;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
}

body {
    background-color: antiquewhite;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    margin-top: 60px;
    gap: 1.5vmin;
}

.Box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 25px;
    border: none;
    background-color: blueviolet;
    box-shadow: 1px 0 10px rgb(67, 67, 67);
    color: white;
    font-size: 35px;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.ResetButton {
    height: 6vmin;
    width: 40vmin;
    border-radius: 25px;
    border: none;
    background-color: rgb(88, 88, 88);
    box-shadow: 1px 0 10px rgb(67, 67, 67);
    color: white;
    font-size: 20px;
}

.ResetButton:hover {
    height: 6.5vmin;
    width: 40.5vmin;
    transition: 0.3s;
}

.msg {
    margin-top: 200px;
    margin-bottom: 170px;
    padding: 15px 25px 15px 25px;
    background-color: gold;
    color: black;
    border-radius: 30px;
}

.hide {
    display: none;
}